*{
    font-family: 'Roboto';
}

.msg{
    background-color: rgb(176, 224, 148);
    color: #ffffff;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;    
    padding: 15px;
    font-size: 16pt;
}


li{
    display: inline;
    padding: 5px;
    cursor: pointer;
}

li a{
    padding: 5px;
}

h1{
    text-align: center;
    padding: 10px;
}

form{
    width: 35em;
    margin: auto;
}


#div-btn-create{
    font-size: 18pt;
}

.form-group{
    margin-top: 15px;
}



/* ***************************** */
