*{
    font-family: 'Roboto';
}


li{
    display: inline;
    padding: 5px;
    cursor: pointer;
}

li a{
    padding: 5px;
}

h1{
    text-align: center;
    padding: 10px;
}

form{
    width: 35em;
    margin: auto;
}


#div-btn-create{
    font-size: 18pt;
}

.form-group{
    margin-top: 15px;
}